:root {
  --color-dark: #2f3323;
  --color-light: #696b61;
  --color-silver: #d3cece;
  --color-white: #fff;
  --color-psd-file:#ffff00;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul,li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.5rem 0;
}

p {
  padding: 1rem 0;
  /* color: var(--color-silver); */
}

.container {
  width: 1034px;
  height: auto;
  margin: 0 auto;
}

body {
  font-family: "Raleway", sans-serif, Arial, Helvetica;
  font-size: 16px;
  line-height: 1.3;
  background: #fff;
  color: var(--color-medium);
}




/* ............................navbar bg & position................. */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
}

.nav__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position:absolute;
  top:0px;
  right:30px;

}
.nav__link {
  color: #AFC67B;
  margin-left: 20px;
  text-transform: uppercase;
}
.nav__link:hover{
  color:var(--color-silver);
}
.nav__logo {
  margin-right: auto;
}

/* .........................navbar................................ */
.hero {
  background: green url(../images/hero.jpg) no-repeat 50% 50% / cover;
  color: #fff;
  width: 100%;
  height: 527px;
  position:relative;
}

.hero__date{
  text-transform: uppercase;
  color:#AFC67B;
  font-size: 30px;
  color:#AFC67B;
  font-size: 30px;
  margin-top:0 !important;
  padding-top: 0 !important;
}

.hero__title{
  text-transform: uppercase;
  color:#AFC67B;
  font-size: 25px;
  font-weight: normal;
  margin-bottom:0 !important;
  padding-bottom: 0 !important;
}

.hero__btn{
  background: rgb(79, 85, 66);
  color:#AFC67B;
  padding:10px 15px;
  font-size: 25px;
  letter-spacing: .2rem;
  font-weight: normal;
  text-transform: uppercase;
}

.hero__psd-file{
  color:var(--color-psd-file);
  padding-top:.3rem;
}

.hero__content{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  position:absolute;
  top:100px;
right:100px;
  text-align: left;
}
.hero__logo,
.hero__text,
.hero__psd-file{
  margin-bottom:50px;
}

/* .........................What we cook..................... */
.whatwecook{
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  color:var(--color-dark);
}
.whatwecook__text{
  padding:30px;
}
/* .........................Highlights..................... */


.highlights{
  background: var(--color-light);
  color:var(--color-silver);
  padding: 50px 176px;
}
.highlights__heading{
  color:var(--color-white);
  text-align: center!important;
  font-weight: normal;
}
.highlights__para{
  padding-top:0;
}
/* .........................Tradition..................... */
.tradition{
  background: var(--color-light);
  text-align: center;
  margin:40px 60px;
  color:var(--color-silver);
}
.tradition__text{
  padding:20px;
  color:var(--color-silver);

}
.tradition h2{
  color:#AFC67B;    
}
.tradition h3{
  color:var(--color-silver);
  font-weight: normal;
  letter-spacing: .3rem;  
}
.tradition__h5{
  color:#AFC67B;  
}
/* .........................Simple-Section.....................  */

.simple{
  background: var(--color-light);
  text-align: center;
  padding: 40px;
  color:var(--color-silver);
}
.simple__title{
  color:#AFC67B;    
}
/* .........................Simple-Section.....................  */
.discover-img{
  background: green url(../images/bgimage.jpg);
  width:100%;
  height:1728px;
  position:relative;
  color:var(--color-white);
}
.discover__content{
  min-height:auto;
  width:100%;
  position:absolute;
  top:234px;
  background:var(--color-dark);
  color:var(--color-silver)!important;
padding:40px 80px;

}
.discover__title{
  text-align: center;
  color:var(--color-white)!important;

}
.discover__text p{
  margin-top:0;
  padding-top:0;
  font-size: 11px;
}
.discover__icon{
  margin-right:20px;
  color:#fff;
  font-size: 30px;
}

/* .........................Footer-Section.....................  */
.footer {
  background: #292A31;
  padding: 20px;
}
.footer__title {
  color: var(--color-white);
}
.footer__link {
  color: var(--color-light);
  text-align: left;
}
.footer__link:hover{
  color:var(--color-silver);
}
.footer__copyright{
  color:var(--color-silver);
  text-align: center;
}

/* .........................Grid-Flex-Layouts..................... */

/* Flex Layouts */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex--col {
  flex-direction: column;
}
/* Grid Layouts */

.d-grid-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  grid-gap: 30px;
}

.d-grid-4col{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  margin:40px 0;
  justify-content: center;
  align-content: center;
}

.d-grid-2col{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

.grid__auto{
  display:grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

/* .......................................medium screen.................................... */
@media(max-width:768px){
.whatwecook{
  grid-template-columns: 1fr;  
}

    .d-grid-4col{
      grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-item:nth-child(6){
      grid-column: 2;
      grid-row: 2;
    }    .grid-item:nth-child(8){
      grid-column: 1;
      grid-row: 3;
    }
}

/* Small screen */
@media(max-width:500px){
  .d-grid-3col{
grid-template-columns: 1fr;
grid-gap: 10px;
  }
  .highlights{
    padding-left:50px !important;
padding-right:50px !important;

  }
  .tradition{
    margin-left:40px;
    margin-right:40px;
  }
  /* re-positioning grid items */
      .d-grid-4col{
        grid-template-columns: 1fr 1fr;
      }
    .grid-item:nth-child(4){
      grid-column: 1;
      grid-row: 2;
    }
    .grid-item:nth-child(5){
      grid-column: 2;
      grid-row: 3;
    }
    .grid-item:nth-child(8){
      grid-column: 2;
      grid-row: 4;
    }
    .grid-item:nth-child(11){
      grid-column: 2;
      grid-row: 6;
    }
  }
